src/*.o
src/iqa/.svn
src/iqa/build
jpeg-recompress
jpeg-compare
jpeg-hash
test-files
test-output
comparison
comparison.png
test/test.jpg
test/test
test/libjpegarchive
test/jpeg-archive-test-files.zip
test/test_subsample_standalone
deps/
jpegarchive.o
libjpegarchive.o
libjpegarchive.a